@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add a hover effect to the card */
.project-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Style the Learn More button */
.project-card .learn-more-button {
  background-color: #3182ce;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card:hover .learn-more-button {
  background-color: #2a69ac;
  color: white;
}
